In [1]:
a = 2           # we have assigned a value of 2 to the variable 'a'
b = 'hello'     # we have assigned a value of 'hello' to the variable 'b'

In [2]:
print(a)
print(b)

2
hello

In [3]:
id(a)

1435982928

In [4]:
id(b)

2254610795128

In [5]:
type(a)

int

In [6]:
type(b)

str

In [7]:
string_data = 'here is your text'
string_data = "here is your text"
string_data = """here
                 is your
                 text"""

In [8]:
string_data = 'here's your text'  # The apostrophe has confused the Python interpreter

SyntaxError: invalid syntax (<ipython-input-8-15d6eb503c67>, line 1)

In [9]:
z = 'abcdefghijklmnopqrstuvwxyz'

print(z[0])       # Letter 1
print(z[20])      # Letter 19
print(z[0:5])     # Letters 1-5
print(z[8:12])    # Letters 9-12
print(z[22:])     # All letters from 23 onwards
print(z[:4])      # All letters until 4

a
u
abcde
ijkl
wxyz
abcd

In [10]:
string_var = '65'
float_var  = 12.4
int_var    = 91

In [11]:
str(float_var)     # Converting a float into a string

'12.4'

In [12]:
str(int_var)       # Converting an integer into a string

'91'

In [13]:
float(string_var)  # Converting a float into a string

65.0

In [14]:
float(int_var)     # Converting an integer into a string

91.0

In [15]:
int(string_var)    # Converting a float into a string

65

In [16]:
int(float_var)     # Converting an integer into a string

12

In [17]:
t = True
f = False

In [18]:
type(t)

bool

In [19]:
type(f)

bool

In [20]:
new_list = [1,'A',5.6]

print(1 in new_list)         # Returns False because 1 is one of the elements of new_list
print('B' in new_list)       # Returns False because 'B' is not one of the elements of new_list
print(5.6 not in new_list)   # Returns False because 5.6 is one of the elements of new_list

True
False
False

In [21]:
a

2

In [24]:
b

2

In [25]:
b = 3

In [26]:
a

2